Repository ZAHARAAI/zahara-v1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zahara-ai/core-team, @umerfarok, @zahara-ai/devops-team, @zahara-ai/backend-team, @zahara-ai/qa-team, @zahara-ai/docs-team

Refactor imports and clean up code across multiple files
  services/api/alembic/env.py
  services/api/app/main.py
  services/api/app/middleware/api_key_auth.py
  services/api/app/models/__init__.py
  services/api/app/models/api_key.py
  services/api/app/routers/agents.py
  services/api/app/routers/api_keys.py
  services/api/app/routers/auth.py
  services/api/app/routers/health.py
  services/api/app/routers/vector.py
  services/api/app/routers/version.py
  services/api/app/services/agent_service.py
  services/api/app/services/api_key_service.py
  services/api/app/services/vector_service.py
  services/router/app/main.py
  tests/test_agents_yaml.py
  tests/test_api_key_auth.py
  tests/test_rate_limit.py
  tests/test_vector_sanity.py
  tests/test_version_endpoint.py
Owners: @zahara-ai/backend-team, @zahara-ai/qa-team

patch: fix tests and add more robust tests checks fix make file
  infra/Makefile
  tests/test_api_health.py
  tests/test_api_key_auth.py
  tests/test_router.py
  tests/test_smoke.py
  tests/test_vector_sanity.py
Owners: @zahara-ai/devops-team, @zahara-ai/backend-team, @zahara-ai/qa-team

Add logging functionality to main.py for improved debugging and error tracking
  services/router/app/main.py
Owners: @zahara-ai/backend-team

Refactor logging statements in RouterConfig initialization for clarity
  services/router/app/main.py
Owners: @zahara-ai/backend-team

Remove PROJECT_README.md and enhance Flowise integration documentation
  .github/workflows/flowise-ci.yml
  PROJECT_README.md
  README.md
  docs/FLOWISE_INTEGRATION.md
  infra/.env.example
  infra/Makefile
  infra/docker-compose.yml
  services/api/alembic/env.py
  services/api/alembic/versions/001_initial_migration.py
  services/api/app/main.py
  services/api/app/middleware/observability.py
  services/api/app/middleware/rate_limit.py
  services/api/app/routers/agents.py
  services/api/app/routers/health.py
  services/api/app/routers/vector.py
  services/api/app/services/agent_service.py
  services/api/seed_data.py
  services/router/app/main.py
  services/router/app/middleware/observability.py
  services/router/requirements.txt
  services/specs/agent.example.yaml
  tests/test_auth_comprehensive.py
  tests/test_flowise_contract.py
  tests/test_health_comprehensive.py
  tests/test_rate_limit_comprehensive.py
  tests/test_router.py
  tests/test_vector_sanity.py
Owners: @zahara-ai/devops-team, @zahara-ai/docs-team, @zahara-ai/backend-team, @zahara-ai/core-team, @umerfarok, @zahara-ai/qa-team

Remove Flowise CI workflow file and refactor seed_data.py for improved clarity and organization
  .github/workflows/flowise-ci.yml
  services/api/alembic/versions/001_initial_migration.py
  services/api/app/main.py
  services/api/app/middleware/observability.py
  services/api/app/middleware/rate_limit.py
  services/api/app/routers/agents.py
  services/api/app/routers/vector.py
  services/api/seed_data.py
  services/router/app/main.py
  services/router/app/middleware/observability.py
  tests/test_auth_comprehensive.py
  tests/test_health_comprehensive.py
  tests/test_rate_limit_comprehensive.py
Owners: @zahara-ai/devops-team, @zahara-ai/backend-team, @zahara-ai/qa-team

Add Trivy vulnerability scanning and initial API key generation to CI workflow and Makefile
  .github/workflows/ci.yml
  infra/Makefile
  infra/docker-compose.yml
  services/api/seed_data.py
Owners: @zahara-ai/devops-team, @zahara-ai/backend-team

Enhance CI workflow with Trivy permissions and update dependencies
  .github/workflows/ci.yml
  services/api/requirements.txt
  services/router/requirements.txt
Owners: @zahara-ai/devops-team, @zahara-ai/backend-team

Update CI workflow to enhance security scanning and reporting
  .github/workflows/ci.yml
Owners: @zahara-ai/devops-team

.github/CODEOWNERS:

# Zahara.ai Code Owners
# Each line is a file pattern followed by one or more owners.
# These owners will be the default assignees for pull requests

# Global owners
* @zahara-ai/core-team @umerfarok

# Infrastructure and deployment
/infra/ @zahara-ai/devops-team
/.github/ @zahara-ai/devops-team
/docker-compose*.yml @zahara-ai/devops-team
/Dockerfile @zahara-ai/devops-team

# API service
/services/api/ @zahara-ai/backend-team

# Router service  
/services/router/ @zahara-ai/backend-team

# Tests
/tests/ @zahara-ai/backend-team @zahara-ai/qa-team

# Documentation
*.md @zahara-ai/docs-team
/docs/ @zahara-ai/docs-team

# Configuration files
pyproject.toml @zahara-ai/core-team
requirements.txt @zahara-ai/backend-team
